* {
    margin: 0px;
    padding: 0px;
  }
  
  body {
    background-color: burlywood;
    float: centre;
    font-family: sans-serif;
    background-image: url(./images/backfinal.jpg);
    background-size: cover;
  }