* {
    margin: 0px;
    padding: 0px;
  }
  
  body {
    background-color: burlywood;
    float: centre;
    font-family: sans-serif;
    background-image: url(./images/backfinal.jpg);
    background-size: cover;
  }

  <!--navbar-- > 
  #navbar ul {
    list-style-type: none;
  }
  #navbar {
    padding: 30px;
  }
  
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  ul li {
    list-style: none;
    padding-left: 70px;
  }
  
  #landing-page {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 15px;
  }
  #pitch {
    flex: 0 0 15%;
    width: 30%;
    text-align: center;
    border: 5px;
    height: 350px;
    padding-top: 10%;
  }
  #pitch #text {
    font-weight: bolder;
    font-size: 5ch;
  }
  #pitch #what {
    font-size: 2ch;
    font-weight: bold;
  }
  #types-list {
    width: 25%;
    background-color: burlywood;
  }
  
  #poster {
    width: 25%;
  }
  #poster img {
    width: 100%;
    height: 100%;
  }
  #image {
    height: 100px;
    display: flex;
    padding-left: 80px;
    width: 110px;
  }

  #coffee-details {
    border: solid;
    width: 30%;
    background-color: burlywood;
  }
  
  #coffee-details #title {
    font-weight: bold;
    font-size: large;
  }

  #payment{
    background-color:black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
  }
  #payment{
    transition-duration: 0.4s;
  
  }
  #payment:hover{
    background-color: #4CAF50; 
    color: white;
  }
  
  #Button {
    background-color:black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    padding-left: 20%;
    padding-right: 20%;
  }

  #Button {
    transition-duration: 0.4s;
  }
  
  #Button:hover {
    background-color: #4CAF50; 
    color: white;
  }
  
  .copyright {
    text-align: center;
    padding-top: 150px;
    padding-left: 45%;
  }